<table class="table table-bordered border-primary">
        <thead>
          <tr>
            <th scope="col">Emp Code</th>
            <th scope="col">Name</th>
            <th scope="col">Designation</th>
            <th scope="col">Salary</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Software Engineer</td>
            <td>250000</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Software Engineer</td>
            <td>250000</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Martin</td>
            <td>Software Engineer</td>
            <td>250000</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>sherin</td>
            <td>Software Engineer</td>
            <td>250000</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Amru</td>
            <td>Software Engineer</td>
            <td>250000</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Martin</td>
            <td>Software Engineer</td>
            <td>250000</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Manju</td>
            <td>Software Engineer</td>
            <td>250000</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Anu</td>
            <td>Software Engineer</td>
            <td>250000</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>surya</td>
            <td>Software Engineer</td>
            <td>250000</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Merin</td>
            <td>Software Engineer</td>
            <td>250000</td>
          </tr>
        </tbody>
  </table>